In [42]:
import folium
import streamlit as st 
from streamlit_folium import st_folium 
from folium import FeatureGroup  
import pandas as pd
from datetime import datetime

In [43]:
nursery_data = pd.read_csv("hoikuen_0317.csv")
bukken_data = pd.read_csv("bukken_017.csv")

In [44]:
bukken_data.head()

,name,main_category,category,price,min_price,max_price,tatemono_measure,min_tatemono_measure,max_tatemono_measure,tochi_measure,...,city,adress,nearest_line,nearest_station,nearest_bus_station,bus_time,walk_time,url,latitude,longitude
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,選択してください,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
bukken_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974 entries, 0 to 1973
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  1905 non-null   object
 1   main_category         1905 non-null   object
 2   category              1905 non-null   object
 3   price                 1905 non-null   object
 4   min_price             1892 non-null   float64
 5   max_price             1890 non-null   float64
 6   tatemono_measure      1816 non-null   object
 7   min_tatemono_measure  1815 non-null   float64
 8   max_tatemono_measure  1815 non-null   float64
 9   tochi_measure         966 non-null    object
 10  min_tochi_measure     966 non-null    float64
 11  max_tochi_measure     966 non-null    float64
 12  madori                1816 non-null   object
 13  main_madori           1816 non-null   object
 14  min_madori            1816 non-null   object
 15  max_madori            1816 non-null   object
 16  hikiwatashi           1816 non-null   object
 17  kanseijiki            1803 non-null   object
 18  floor                 926 non-null    float64
 19  building              1802 non-null   object
 20  prefecture            1974 non-null   object
 21  city                  1928 non-null   object
 22  adress                1905 non-null   object
 23  nearest_line          1905 non-null   object
 24  nearest_station       1905 non-null   object
 25  nearest_bus_station   39 non-null     object
 26  bus_time              40 non-null     object
 27  walk_time             1905 non-null   float64
 28  url                   1905 non-null   object
 29  latitude              1905 non-null   float64
 30  longitude             1905 non-null   float64
dtypes: float64(10), object(21)
memory usage: 478.2+ KB

In [46]:
bukken_data['kanseijiki'] = bukken_data['kanseijiki'].str.strip('予定')
bukken_data['kanseijiki'] = bukken_data['kanseijiki'].str.strip('上旬')
bukken_data['kanseijiki'] = bukken_data['kanseijiki'].str.strip('下旬')
bukken_data['kanseijiki'] = bukken_data['kanseijiki'].str.strip('末')

In [47]:
bukken_data['kanseijiki'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: kanseijiki, dtype: object

In [48]:
# 年と月に分割して新しい列を作成
bukken_data[['year', 'month']] = bukken_data['kanseijiki'].str.split('年|月', expand=True)[[0, 1]]

In [49]:
# 年と月を結合して日付を作成
bukken_data['date'] = pd.to_datetime(bukken_data['year'] + bukken_data['month'], format='%Y%m')
bukken_data['chiku_nissu'] = bukken_data['date'].apply(lambda x:(datetime.today() - x).days)
bukken_data['chiku_nensu'] = bukken_data['chiku_nissu']/365.25

In [50]:
bukken_data['chiku_nensu']= round(bukken_data['chiku_nensu'])

In [51]:
bukken_data['chiku_nensu'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: chiku_nennsu, dtype: float64

In [52]:
years = bukken_data.dropna(subset=['kanseijiki'])

In [53]:
min_chikunensu = int(years['chiku_nensu'].min())
max_chikunensu = int(years['chiku_nensu'].max())

In [54]:
print(min_chikunensu)

-1

In [55]:
print(max_chikunensu)

63

In [56]:
min_year, max_year = st.slider("築年数",min_chikunensu, max_chikunensu, (0, 5), step=1)

In [57]:
bukken_data.to_excel("0322test.xlsx", index=None)